---
const creations = [
  {
    title: 'Deep earth',
    image: 'image-deep-earth.jpg'
  },
  {
    title: 'Night arcade',
    image: 'image-night-arcade.jpg'
  },
  {
    title: 'Soccer team VR',
    image: 'image-soccer-team.jpg'
  },
  {
    title: 'The grid',
    image: 'image-grid.jpg'
  },
  {
    title: 'From up above VR',
    image: 'image-from-above.jpg'
  },
  {
    title: 'Pocket borealis',
    image: 'image-pocket-borealis.jpg'
  },
  {
    title: 'The curiosity',
    image: 'image-curiosity.jpg'
  },
  {
    title: 'Make it fisheye',
    image: 'image-fisheye.jpg'
  }
]
---

<div class="grid gap-8 md:grid-cols-4">
  {
    creations.map(({ title, image }) => {
      return (
        <a href="#" class="card || relative block max-w-fit">
          <div class="card-image || transition-opacity duration-300 w-full">
            <img src={`/images/mobile/${image}`} alt={title} class=" md:hidden" />
            <img src={`/images/desktop/${image}`} alt={title} class=" hidden md:block" />
          </div>
          <div class="px-4 pb-2 z-50 md:mx-8 md:bottom-6 absolute bottom-0">
            <h3 class="transition-colors duration-[400] text-white text-2xl md:text-3xl font-light leading-tight max-w-[10ch] md:max-w-[9ch]">{title}</h3>
          </div>
        </a>
      )
    })
  }
</div>

<style>
  .card {
    transition: all 3s;

    &:hover .card-image {
      opacity: 0.2;
    }

    &:hover h3 {
      color: black;
    }
  }

  .card:hover::before {
    opacity: 0.2;
  }

  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.6), transparent);
    z-index: 1;
  }

  @media (min-width: 768px) {
    .card::before {
      background-image: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent);
    }
  }
</style>
